/* BOILERPLATE */
:root {
    --white: #FFFFFF;
    --black: #070724;
    --dark-gray: #38384F;
    --light-gray: #838391;
    --light-blue: #419EBB;
    --orange: #EDA249;
    --purple: #6F2ED6;
    --red: #D14C32;
    --dark-red: #D83A34;
    --dark-orange: #CD5120;
    --mint: #1EC2A4;
    --blue: #2D68F0;
}
html {
    font-family: 'Antonio', sans-serif;
    font-family: 'League Spartan', sans-serif;
}
body {
    margin: 0;
    min-height: 100vh;
    color: var(--white);
    background-image: url(assets/images/icons/background-stars.svg);
    background-color: var(--black);
    position: relative;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
    border-bottom: 2px solid var(--mint);
    padding: 0 0 10px 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2.2px;
    font-family: inherit;
    transition: all .2s ease-in-out;
}
h1, h2, h3, p {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

/* COMPONENTS */
app-planets, app-options {
    display: block;
}
app-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
app-overview, app-internal, app-geology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
app-bottom-tabs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
app-overview, app-internal, app-geology, app-bottom-tabs {
    padding: 25px;
}